.search_div {
    text-align: center;
    background: white;
    box-shadow: 0px 3px 4px 0 rgba(0,0,0,0.1);
    width: 90%;
    margin: 30px auto;
    height: 75px;
    border-radius: 5px;
}
.search_button {
	height: 30px;
    width: auto;
    position: relative;
    left: -35px;
    top: 10px;
    cursor: pointer;
}
.search_input {
	border: 1px solid #c6c6c6;
    width: 30%;
    height: 30px;
    padding: 5px;
    margin-top: 15px;
    padding-right: 50px;
}
::-webkit-input-placeholder {
  	color: #c6c6c6;
}
.main_div {
	width: 90%;
	margin: 0 auto;
}