.search-container {
	background: white;
	min-height: 489px;
    margin: 2% 8%;
    border-radius: 10px;
    padding: 15px;
}
@media only screen and (max-width: 800px) {
	.search-container {
	    margin: 25px 4%;
	}
}
@media only screen and (min-width: 800px) {
	.col-lg-offset {
		margin-left: 16%;
	}
}
.col-lg-offset h3 {
	font-size: 22px;
    color: #627978;
}
.mar-top-20 {
	margin-top: 20px;
}
.search-select {
    height: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    width: 100%;
    color: #797979;
    outline: none;
    cursor: pointer;
    background: #ececec  url(../images/Dropdown-yellow.png) no-repeat 95% 56%;
    background-size: 20px;
}