<div class="header pad0 box-shadow col-lg-12 col-md-12 col-12 floatl">
	<div class="mainContainer">
		<div class="header-text col-lg-12 col-md-12 col-12 text-center floatl">
			<a ng-click="gotoHomePage()"><span class="red-text">F</span><span>inding </span><span class="red-text">F</span><span>alcone !</span></a>
		</div>
	</div>
</div>
<div class="header2 pad0 box-shadow col-lg-12 col-md-12 col-12 text-right floatl">
	<div class="search-container2 col-lg-10 col-md-11 col-11 floatl pad0">
		<a href="https://www.geektrust.in/" target="blank" class="header-text2">GeekTrust Home</a>
		<a ng-click="resetScore()" class="header-text2">Reset&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a>
	</div>
</div>